 * {
  margin: 0px;
  padding: 0px;
}

h1 {
  display: inline-block;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  letter-spacing: 0%;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  border-bottom: 4px solid black;
  margin-bottom: 30px;
}

span {
  font-weight: 700;
  font-style: italic;
  line-height: 100%;
}

.beagle-info {
  border: 2px solid black;
  padding: 30px;
  margin: 25px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  letter-spacing: 0%;
}

.beagle-info > p {
  line-height: 115%;
  margin-bottom: 50px;
}

.beagle-info > a {
  line-height: 100%;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid black;
  margin-top: 20px;
}

.beagle-images {
  padding: 30px;
  margin: 25px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  letter-spacing: 0%;
}

.beagle-images > img {
  width: 1051px;
  height: 762px;
  display: block;
  margin-bottom: 20px;
}

.beagle-images > a {
  line-height: 100%;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid black;
}

.beagle_details {
  margin: 25px;
  padding: 30px;
}

.beagle_details > ol {
  margin: 0px 45px;
}

.beagle_details > ol > li {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;

  line-height: 140%;
  letter-spacing: 0%;
}
h2{font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  text-decoration-style: solid; 
  font-style:bold;
  text-decoration: underline;
  

  line-height: 140%;
  letter-spacing: 0%;

}
